<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.PersonMapper">
	<select id="findList" parameterType="personVo" resultType="personVo">
		SELECT p.*,c.express_name AS cname FROM express_person p , express_company c 
		<where>
		 p.express_type_id = c.id
		 <if test="expressName!=null and expressName!=''">
		 	and p.express_name like '%${expressName}%'
		 </if>
		 <if test="expressTypeId!=null and expressTypeId!=0">
		 	and p.express_type_id = #{expressTypeId}
		 </if>
		 <if test="entrytime1!=null">
		 	and p.entry_time &gt;= #{entrytime1}
		 </if>
		 <if test="entrytime2!=null">
		 	and p.entry_time &lt;= #{entrytime2}
		 </if>
		</where>
	</select>

</mapper>